{% extends "layout.html" %}
{% block body %}
<!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <h2>Resume</h2>
            <p>Here are some of my professional details.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Dhruv</h4>
                <p><em>Responsible and motivated student ready to apply education in the
                  workplace. Offers excellent technical abilities with software and applications,
                  ability to handle challenging work, and excellent time management skills.</em></p>
                <ul>
                  <li>Palwal, Haryana , INDIA</li>
                  <li>(+91)9466441106</li>
                  <li>dhruvyaduvanshi99@gmail.com</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bachelors of Technology</h4>
                <h5>2019 - 2023</h5>
                <p><em>Maharshi Dayanand University, Rohtak ,Haryana</em></p>
                <p>In a Bachelor of Technology (B.Tech) program, I've learned engineering principles, problem-solving skills, technical expertise, and teamwork, preparing for a career in various technological fields.</p>
              </div>
              <div class="resume-item">
                <h4>Intermediate (Class-12)</h4>
                <h5>2017</h5>
                <p><em>Private Candidate, CBSE</em></p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
    {% endblock %}